* {
  box-sizing: border-box;
}
body {background-color: maroon; padding: 0px; margin: 0px}
h1 {
  color: gold;
  font-family: Impact;
  font-weight: 600;
}
h2 {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 500;
}
h3 {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 500;
}
p {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 400;
  padding: 10px;
}
.footer {
  background-color: #490e0e;
  min-height: 100px;
  width: 100%;
  text-align: center;
}
.footer p {
  color: #7d5454;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer h3 {
  color: #7d5454;
  padding-top: 20px;
  padding-bottom: 5px;
}
.footer a {
  color: #7d5454;
  padding-top: 5px;
  padding-bottom: 20px;
}
a {
  color: gold;
  font-family: "Roboto", serif;
  font-weight: 300;
}
a:hover {color: lightyellow}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 20px;
}
.flex-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #490e0e;
  margin: 10px;
}
.flex-item img {
  width: 200px;
  margin: auto;
  border-radius: 10px;
  display: block;
  border: 5px solid gold;
}
.flex-item h3 {
  color: gold;
  font-family: Impact;
  text-align: center;
  border: 5px solid gold;
  width: 70%;
  margin: auto;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 65%;
  border: 10px groove gold;
  border-radius: 20px;
  max-width: 80%;
}
.img-container {
  padding: 20px;
}
.text-container {
  padding-top: 10px;  
}
.timeline-content h2 {
  font-family: Impact;
  color: gold;
}
.img-text-left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.img-text-left img {
  width: 50%;
  object-fit: cover;
}
.img-text-left p {
  width: auto;
}
.txt-block {
  background-color: #490e0e;
  border-radius: 25px;
  padding: 10px;
  margin: 10px 20px;
}
.txt-block h2 {
  font-family: Impact;
  padding-left: 20px;
  padding-right: 20px;
}
.break {
  padding: 10px;
}
.analysis {
  background-color:#311b01;
  width: 100%;
}
.analysis h2 {
  color:#864700;
  padding: 10px;
  text-align: center;
}
.analysis p {
  padding: 10px;
  color:lightgray
}
.collage {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  align-content: stretch;
  justify-content: center;
}
.img-link {
  opacity: 1;
  transition: opacity 0.3;
  width: auto;
  height: auto;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
.img-link-background {
  background-color: white;
}
.img-link:hover {
  opacity: 0.5;
}
